---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
    <div class="mt-6 space-y-10">
        <div class="flex justify-center">
            <div class="card w-96 bg-base-200 shadow-xl">
                <figure class="px-10 pt-10">
                    <img src="https://avatars.githubusercontent.com/u/62338646" alt="Avatar" class="rounded-full" />
                </figure>
                <div class="card-body items-center text-center">
                    <h2 class="card-title">RASTIQ</h2>
                    <p>Software developer</p>
                    <div class="card-actions">
                        <a href="https://github.com/rastiqdev" class="btn btn-primary">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>