---
import "../global.css";
import Navbar from "../components/Navbar.astro";
---

<html lang="fr" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>RASTIQ</title>
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>